body{
    background-color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:white;
    margin:0;
    padding:0;
}

main{
    position: relative;
}

h3{
    color:black;
    font-size: 25px;
    
 
}

.copyright{
    position: relative;
    top: 20px;
    margin:0;
    padding:0;
}

.fab{
    margin:0 20px;
    color: #A5292A;
}

.social-icons{
    position: relative;
    top:25px;
  
}

.first-nav{
    z-index:0;
}


.navbar-button{
    color: #A5292A;
}
.nav-link{
    font-size: 25px;
     margin: 0 20px;
     color: #A5292A;
     text-transform: uppercase;
}

.nav-link:hover{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}


.tapedlogo{
    width: 70px;
}

.searchbar{
    border-radius: 0;
}

.search-button{
background-color: brown;
    color:white;
    font-size: 25px;
    border-radius: 0;
    text-transform: uppercase;
}

.form-control{
    font-size: 25px;
}

.intro-title{
    background-color: #f8f9fa43;
    color:black;
    width:30%;
    padding:20px;
    position: relative;
    top:20px;
    border-radius: 2px;
    margin:0 auto;
   
}

.container-1{
    z-index: -1;
    position: absolute;
    top:-25px;
    
}

.carousel-indicators{
    position: absolute;
    top:780px;

}

.container-2{
    background-color: black;
    width:80%;
    margin: auto;
    height:700px;
    position: relative;
    top:750px;
}

.container-2 h1 {

    margin-top:20px;
    font-size: 100px;

}

.container-2 h3{
color: rgb(255, 255, 255);
text-transform: uppercase;
font-size: 50px;
margin-bottom: 30px;


}

.container-2 p {
    font-weight: 200;
    font-size: 20px;
}

.container-2 img{
   margin:20px 50px;
   position: relative;
   top:-11px;
}

footer{

    height: 140px ;
    background-color: #F8F9FA;
    position: relative;
    top:1500px;

  

}





@keyframes fadedAnimation2 {

    0% {opacity: 0;}
    100% { opacity:1; }
  }

  .animation-faded2 {
      animation-name: fadedAnimation2;
      animation-duration:  2.5s; 
      animation-iteration-count: 1;
      animation-delay: 0;
      animation-fill-mode: forwards;
   
  }


   /* ------------------- FIRST MEDIA QUERY MAX 600 PX ------------------------*/

   @media only screen and (max-width: 600px) {


    .container-1{
        top:49px;
        width:100%; 
     
    }

    .container-2{
        background-color: black;
        position:absolute;
        width: 80%;
        top:360px;
        left:0;
        right:0;

    }

    .container-2 h1 {

        margin-top:0px;
        font-size:41px;
        text-decoration:overline;
        text-decoration-color: brown;
    
    }
    
    .container-2 h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    
    }

    .container-2 img{

        display: none;
     }

   }


    /* ------------------- SECOND MEDIA QUERY  ------------------------*/

    @media only screen and (min-width: 601px) and (max-width:800px) {

        .container-1{
            top:35px;
            width:100%; 
         
        }
    
        .container-2{
            background-color: black;
            width:80%;
            height:700px;
            position: absolute;
            left:0;
            right:0;
            top:470px;
        }
    
        .container-2 h1 {
    
            margin-top:0px;
            font-size:41px;
            text-decoration:overline;
            text-decoration-color: brown;
        
        }
        
        .container-2 h3{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    
        
        }
    
        .container-2 img{
    
            display: none;
         }
    
       }


           /* ------------------- THIRD MEDIA QUERY  ------------------------*/

    @media only screen and (min-width: 801px) and (max-width:1000px) {

        .container-1{
            top:20px;
        }
    
        .container-2{
         
            top:580px;
        }
    
        .container-2 h1 {
    
            margin-top:0px;
            font-size:71px;
            text-decoration:overline;
            text-decoration-color: brown;
        
        }
        
        .container-2 h3{
        
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    
        
        }
    
        .container-2 img{
    
            display: none;
         }
    
       }

        /* ------------------- FOURTH MEDIA QUERY  ------------------------*/

    @media only screen and (min-width: 1001px) and (max-width:1200px) {

        .container-1{
            top:10px;
        }
    
        .container-2{
         
            top:580px;
        }
    
        .container-2 h1 {
    
            margin-top:0px;
            font-size:71px;
            text-decoration:overline;
            text-decoration-color: brown;
        
        }
        
        .container-2 h3{
        
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    
        
        }
    
        .container-2 img{
    
            display: none;
         }
    
       }


       /* ------------------- FIFTH MEDIA QUERY  ------------------------*/

    @media only screen and (min-width: 1201px) and (max-width:1400px){

        .container-1{
            top:-22px;
        }
    
        .container-2{
         
            top:700px;
        }
    
        .container-2 h1 {
    
            margin-top:0px;
            font-size:71px;
            text-decoration:overline;
            text-decoration-color: brown;
        
        }
        
        .container-2 h3{
        
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    
        
        }
    
        .container-2 img{
    
            display: none;
         }
    
       }

              /* ------------------- SIXTH MEDIA QUERY  ------------------------*/


       @media only screen and (min-width: 1401px) and (max-width:1600px){

        .container-1{
            top:-22px;
        }
    
        .container-2{
         
            top:700px;
        }
    
        .container-2 h1 {
    
            margin-top:0px;
            font-size:71px;
            text-decoration:overline;
            text-decoration-color: brown;
        
        }
        
        .container-2 h3{
        
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    
        
        }
    
        .container-2 img{
    
            display: none;
         }
    
       }

             /* ------------------- SEVENTH MEDIA QUERY  ------------------------*/


             @media only screen and (min-width: 1601px) and (max-width:1900px){

                .container-1{
                    top:-35px;
                }
            
                .container-2{
                 
                    top:850px;
                }
            
                .container-2 h1 {
            
                    margin-top:0px;
                    font-size:71px;
                    text-decoration:overline;
                    text-decoration-color: brown;
                
                }
                
                .container-2 h3{
                
                font-size: 40px;
                margin-top: 30px;
                margin-bottom: 30px;
            
                
                }
            
                .container-2 img{
            
                    display: none;
                 }
            
               }


                            /* ------------------- EIGHTMEDIA QUERY  ------------------------*/


               @media only screen and  (min-width:1901px){

                .container-1{
                    top:-45px;
                }
            
                .container-2{
                 
                    width: 90%;
                    top:870px;
                }
            
                .container-2 h1 {
            
                    margin-top:0px;
                    font-size:91px;
                    text-decoration:overline;
                    text-decoration-color: brown;
                
                }
                
                .container-2 h3{
                
                font-size: 60px;
                margin-top: 100px;
                margin-bottom: 100px;
            
                
                }

                .container-2 p{
                    font-size: 40px;
                }
            
                .container-2 img{
            
                    display: none;
                 }
            
               }