body{
    background-color: black;
    text-align: center;
    font-family: "Staatliches";
    color:white;
    margin:0;
    padding:0;

}

img {
    width: 20%;
    position: relative;
    top:80px;
    z-index: -1;


}

.titulo p:first-child {
   
    font-size: 180px;
    position: fixed;
    top:-15px;
    left:110px;
    z-index: 1;
    word-spacing: 600px;
    letter-spacing: 8px;
}
.titulo p:last-child {
   
    font-size: 180px;
    position: fixed;
    top:-15px;
    right:110px;
    z-index: 1;
    word-spacing: 600px;
    letter-spacing: 8px;
}


h1 {
    position:relative;
    top:280px;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 150px;
    padding:0;
    margin: 0 auto;
    opacity: 0;
    
}

h1 a {
    text-decoration: none;
    color:black;
}

h1:hover {
    cursor: pointer;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  .animate-flicker {
    
      animation: flickerAnimation .1s 4;
  }
  

  @keyframes fadedAnimation {

    0% {opacity: 0;}
    100% { opacity:1; }
  }

  .animation-faded {
      animation-name: fadedAnimation;
      animation-duration:  2s; 
      animation-iteration-count: 1;
      animation-delay: 0.7s;
      animation-fill-mode: forwards;
   
  }


  /* -------------------SECOND MEDIA QUERY MAX 600 PX ------------------------*/


  @media only screen and (max-width: 600px) {


   
    
    img {
        width: 150px;
        position: relative;
        top:40px;
        z-index: -1;
    
    
    }

    .titulo{
        width: 200px;
    }

    .titulo p:first-child {
   
        font-size: 42px;
        position: fixed;
        top:220px;
        right:110px;
        left:0;
        z-index: 1;
        word-spacing: 0px;
        letter-spacing: 0px;
        
       
      
 
        
    }
    .titulo p:last-child {
       
        font-size: 42px;
        position: fixed;
        top:220px;
        left:110px;
        right:0;
        z-index: 1;
        word-spacing: 0px;
        letter-spacing: 0px;
       
        

    }

    h1 {
        position:relative;
        top:240px;
    }

    }


      /* -------------------SECOND MEDIA QUERY MAX 600 PX ------------------------*/